{% extends 'base.html' %}
{% load static %}

{% block title %}Add Profile{% endblock %}

{% block content %}
<div class="register">
    <div class="register-content">
        
     

        <form action="{% url 'DjangoHUDApp:profileadd' %}" method="POST" name="addprofile_form">
            {% csrf_token %}
            
            <h1 class="text-center">Add Profile</h1>
            

            <div class="mb-3">
                <label class="form-label">Name <span class="text-danger">*</span></label>
                <input type="text" name="name" class="form-control form-control-lg bg-inverse bg-opacity-5" placeholder="e.g John Smith" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Email Address <span class="text-danger">*</span></label>
                <input type="email" name="email" class="form-control form-control-lg bg-inverse bg-opacity-5" placeholder="username@address.com" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Password <span class="text-danger">*</span></label>
                <input type="password" name="password" class="form-control form-control-lg bg-inverse bg-opacity-5" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Country <span class="text-danger">*</span></label>
                <select name="country" class="form-select form-select-lg bg-inverse bg-opacity-5" required>
                    <option value="India">India</option>
                    <option value="United States">United States</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Gender <span class="text-danger">*</span></label>
                <select name="gender" class="form-select form-select-lg bg-inverse bg-opacity-5" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Date of Birth <span class="text-danger">*</span></label>
                <div class="row gx-2">
                    <div class="col-6">
                        <select name="birth_month" class="form-select form-select-lg bg-inverse bg-opacity-5" required>
                            <option value="">Month</option>
                            <option value="01">Jan</option>
                            <option value="02">Feb</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <select name="birth_day" class="form-select form-select-lg bg-inverse bg-opacity-5" required>
                            <option value="">Day</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <select name="birth_year" class="form-select form-select-lg bg-inverse bg-opacity-5" required>
                            <option value="">Year</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                        </select>
                    </div>
                </div>
            </div>
          <div class="mb-3">
                <label class="form-label">Role <span class="text-danger">*</span></label>
                <select name="role" class="form-select form-select-lg bg-inverse bg-opacity-5" required>
                    <option value="Male">User</option>
                    <option value="Female">Admin</option>
                    <option value="Female">Trainer</option>

                </select>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-outline-theme btn-lg d-block w-100">Submit</button>
            </div>

            <div class="text-inverse text-opacity-50 text-center">
                Update your Profile <a href="{% url 'DjangoHUDApp:profileupdate' %}">Update</a>
            </div>
        </form>

    </div>
</div>
{% endblock %}
