<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" {% block htmlAttr %}{% endblock %}>
<head>
	<meta charset="utf-8">
	<title>HUD | {% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- ================== BEGIN core-css ================== -->
	{% load static %}
	<link href="{% static 'css/vendor.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/app.min.css' %}" rel="stylesheet">
	<!-- ================== END core-css ================== -->
	
	{% block css %}{% endblock %}
</head>
<body class="{{ bodyClass }}{% if appHeaderHide is not None %} pace-top {% endif %}" {{ bodyAttr }}>
	
	<div id="app" class="app 
		{% if appSidebarHide is not None %}app-without-sidebar{% endif %}
		{% if appSidebarCollapsed %}app-sidebar-collapsed{% endif %}
		{% if appHeaderHide is not None %}app-without-header{% endif %}
		{% if appTopNav %}app-with-top-nav{% endif %}
		{% if appContentFullHeight is not None %}app-content-full-height{% endif %}
		{% if appFooter %}app-fixed-footer{% endif %}
		{% if appBoxedLayout %}app-boxed-layout{% endif %}
	">
		{% if appHeaderHide is None %}
			{% include 'partial/header.html' %}
		{% endif %}
		
		{% if appSidebarHide is None %}
			{% include 'partial/sidebar.html' %}
		{% endif %}
		
		{% if appTopNav %}
			{% include 'partial/top-nav.html' %}
		{% endif %}
		
		<div class="app-content {{ appContentClass }}">
			{% block content %}{% endblock %}
		</div>
		
		{% include 'partial/theme-panel.html' %} 
		
		{% if appFooter %}
			{% include 'partial/footer.html' %}
		{% endif %}
	</div>

	{% include 'partial/scroll-top-btn.html' %} 
	
	{% block outter_content %}{% endblock %}

	<!-- ================== BEGIN core-js ================== -->
	<script src="{% static 'js/vendor.min.js' %}"></script>
	<script src="{% static 'js/app.min.js' %}"></script>
	<!-- ================== END core-js ================== -->
	
	<!-- Inactivity detection script -->
	{% comment %} <script>
		let timeout; // Declare timeout variable
		const logout = () => {
			alert("You have been logged out due to inactivity.");
			window.location.href = "{% url 'DjangoHUDApp:pageLogin' %}";  // Redirect to login page after logout
		};
	
		const resetTimer = () => {
			clearTimeout(timeout); // Clear the existing timeout
			timeout = setTimeout(logout, 60000); // Set timeout to 1 minute (60000 milliseconds)
	
			// Optionally, you can make an AJAX call here to update the last activity time in the session
			fetch("{% url 'DjangoHUDApp:update_last_activity' %}", { method: 'POST', credentials: 'include' });
		};
	
		// Event listeners for user activity
		document.addEventListener('mousemove', resetTimer);
		document.addEventListener('keypress', resetTimer);
		document.addEventListener('click', resetTimer);
		document.addEventListener('scroll', resetTimer);
	
		// Start the timer when the page loads
		resetTimer();
	</script> {% endcomment %}
	
	

	{% block js %}{% endblock %}
</body>
</html>
